<style>
        body {
            font-family: Arial;
            background: linear-gradient(45deg,#1d0036,#7a004e);
            color: white;
            text-align: center;
        }
        .box {
            background: rgba(255,255,255,0.1);
            padding: 20px;
            border-radius: 15px;
            width: 80%;
            margin: auto;
        }
        img {
            width: 350px;
            border-radius: 15px;
            margin: 15px;
            box-shadow: 0 0 15px black;
        }
        button {
            padding: 10px 25px;
            border-radius: 8px;
            border: none;
            background: cyan;
            font-weight: bold;
            cursor: pointer;
        }
    </style>