<!DOCTYPE html>
<html>
<head>
    <title>Photo Angle Detector</title>
    <link rel="stylesheet" href="/static/style.css"> <!-- Link to the CSS file -->
    
</head>
<body>

<div class="box">
    <h1>📷 Photo Angle Detector</h1>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <button type="submit">Upload & know the angle</button>
    </form>
 

   <!--  {% if angle is defined %}
    <h2>Detected Angle: {{ angle }}°</h2>
    <img src="{{ original }}">
    {% endif %} -->

    {% if angle is defined %}
        <h2>Detected Rotation: {{ angle }}°</h2>

        <h3>Original</h3>
        <img src="{{ original }}">

        <h3>Corrected</h3>
        <img src="{{ corrected }}">
    {% endif %}
</div>

</body>
</html>
